body {
  background-color:rgba(0, 0, 0, 0.462);
}

.gallery__checkbox-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.gallery__checkbox-item:not(:last-child) {
  margin-bottom: 0;
}

.gallery__checkbox-item__label {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
  transition: color .2s ease-in;
}

.gallery__checkbox-item__checkbox.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.gallery__checkbox-item__check-mark {
  position: absolute;
  top: 4.5px;
  left: 0;
  width: 12px;
  height: 12px;
  align-items: center;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  transition: opacity .2s ease-in, border .2s ease-in;
}

.gallery__checkbox-item__check-mark::before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 3px;
  right: 0;
  width: 4px;
  height: 4px;
  background-color: #C283F3;
  opacity: 0;
  transition: opacity .15s ease-in;
}

.gallery__checkbox-item__label-active {
  color: #C283F3;
}

/*  /////////// */
/* .gallery__checkbox-item__checkbox:checked + .gallery__checkbox-item__check-mark {
  border: 1px solid #C283F3;
  opacity: 1;
}

.gallery__checkbox-item__checkbox:checked + .gallery__checkbox-item__check-mark::before {
  opacity: 1;
} */


.gallery__checkbox-item__checkbox:checked:focus + .gallery__checkbox-item__label .gallery__checkbox-item__check-mark {
  border: 1px solid #C283F3;
  opacity: 1;
}


.gallery__checkbox-item__checkbox:checked:focus + .gallery__checkbox-item__label .gallery__checkbox-item__check-mark::before {
  opacity: 1;
}


.gallery__checkbox-item__checkbox:focus + .gallery__checkbox-item__label .gallery__checkbox-item__check-mark {
  border: 1px solid #C283F3;
  opacity: 1;
}

.gallery__checkbox-item__checkbox:focus + .gallery__checkbox-item__label {
  color: #C283F3;
}

